* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #141414;
  padding: 20px;
}

.main {
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #262626;
  border-radius: 12px;
  padding: 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.sidebar__avatar {
  height: 100px;
  width: 100px;
}
.sidebar__button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  width: 100%;
  height: calc(100% - 40px - 90px);
  position: relative;
  top: 20px;
}
.sidebar__button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
  color: rgba(228, 228, 231, 0.5);
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.sidebar__button svg {
  width: 20px;
  height: 20px;
}
.sidebar__button h3 {
  font-family: dana;
  font-size: 16px;
}
.sidebar__button:hover {
  color: #e4e4e7;
}
.sidebar__quit {
  position: relative;
  top: 20px;
  font-family: danalight;
  background-color: rgba(217, 83, 79, 0.8);
  border: none;
  padding: 10px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  font-size: 18px;
  color: #e4e4e7;
}
.sidebar__quit:hover {
  background-color: #d9534f;
}

.signin-alert {
  position: absolute;
  background-color: #262626;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  overflow: hidden;
}
.signin-alert h2 {
  color: #e4e4e7;
  font-family: danabold;
  font-size: 18px;
}
.signin-alert__bar {
  height: 5px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #2EC4FF;
  position: absolute;
}