.hero {
  padding-right: 42px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  margin-top: 100px;
  gap: 16px;
  border-bottom: $border;
  &__bottom-arrow {
    position: absolute;
    bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $color-grey;
    img {
      height: 80%;
    }
  }
  &__content {
    align-self: center;
    padding-bottom: 68px;
    p {
      font-size: 18px;
      line-height: 2;
      margin-top: 32px;
      font-weight: 300;
    }
    h1 {
      font-size: 48px;
      font-weight: 550;
    }
  }
  &__btn {
    display: flex;
    gap: 32px;
    margin-top: 32px;
  }
}

.neon-text {
  font-size: var(--font-size-head);
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 1.5s infinite alternate;
  -webkit-animation: glow 1.5s infinite alternate;
}
