* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #141414;
  overflow: hidden;
  color: #e4e4e7;
  font-family: Dana;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: #1a1a1a;
  height: 50%;
  width: 80%;
  border-radius: 12px;
  border: 2px solid #262626;
  padding: 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.title {
  font-weight: 600;
  font-size: 22px;
}
.question {
  padding: 20px;
  background-color: #262626;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.answer {
  padding: 20px;
  background: #000;
  margin-top: 10px;
  margin-right: 50px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  
}