/* Animated classes. */
.animation {
  &-pulse {
    animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite;
  }
  &-bounce {
    animation: bounce 1s ease-in-out infinite;
    -webkit-animation: bounce 1s ease-in-out infinite;
}
}

/* Keyframes and animations. */
@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e,
      0 0 40px #ff005e, 0 0 80px #ff005e;
  }
  100% {
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff,
      0 0 80px #00d4ff, 0 0 160px #00d4ff;
  }
}

@keyframes bounce {
  0% {
    bottom: -10px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: -10px;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}