@font-face {
  font-family: danabold;
  src: url(../fonts/DanaFaNum-Bold.woff2);
  font-display: swap;
}
@font-face {
  font-family: danalight;
  src: url(../fonts/DanaFaNum-Light.woff2);
  font-display: swap;
}
@font-face {
  font-family: danademibold;
  src: url(../fonts/DanaFaNum-DemiBold.woff2);
  font-display: swap;
}
@font-face {
  font-family: danamedium;
  src: url(../fonts/DanaFaNum-Medium.woff2);
  font-display: swap;
}
