
:root{
    /* light theme */
    --background-color:#1a1a1a;
    --primary-color:#2EC4FF;
    --text-color:#101828;
    --lighter-dark-background:#262626;
    --accent-color:#0BFF7B;
    --emotion-color:#FFB000;
    --accent-2-color:#0BFF7B;
    --gray-color:#F1F5F980;
    --additional-color:#1447E6;
    /* dark theme */
    --dark-background:#141414;
    --dark-text-color:#E4E4E7;
    /* padding */
    --section-padding:16px 42px;
    --section-mobile-padding:16px;
    /* font size */
    --font-size-nav:20px;
    --font-size-bold:28px;
    --font-size-head:48px;
    --font-size-mobile:16px;
    --font-size-btn:18px;
    --font-size-btn-mobile:14px;
    --font-size-medium-titr:32px;
    --font-size-text-extra:24px;
    --font-size-text-large:18px;
    --font-size-text-medium:14px;
    
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'danalight';
    transition: all .1s;

}
a{
  text-decoration: none;
  color: var(--dark-text-color);
}
p{
  padding: 0;
}
html{
  background-color: var(--dark-background);
  overflow-x: hidden;
}
body{
  overflow-x: hidden;

}

/* # Light theme:
  1- Background (Light-Zinc Varient): #
  2- Primary Color (Light-Blue Varient): #2EC4FF
  3- Text Color | Color of shadows and dark sectios (Dark-Slate Varient): #101828
  4- Accent 1 (Lime-Green Varient): #0BFF7B
  5- Accent 2 (Gold Varient): #FFB000
  6- Additional Color (Dark-Sky Varient): #1447E6
# Dark theme:
  1- Background (Dark-Slate Varient): #101828
  2- Primary Color (Light-Blue Varient): #2EC4FF
  3- Text Color | Color of shadows and Light sectios (Light-Zinc Varient): #E4E4E7
  4- Accent 1 (Lime-Green Varient): #0BFF7B
  5- Accent 2 (Gold Varient): #FFB000
  6- Additional Color (Dark-Sky Varient): #1447E6 */
