

/* header  */
header {
  padding-right: 42px;
  background-color: var(--dark-background);
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  margin-top: 100px;
  gap: 16px;
  border-bottom: 1px solid var(--lighter-dark-background);
}
header .bottom_arrow{
  position: absolute;
  bottom: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  right:50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--lighter-dark-background);
}
.bottom_arrow img{
  width: 30px;
  height: 30px;
}
header .header-content {
  color: var(--dark-text-color);

  align-self: center;
  padding-bottom: 68px;
}
header .header-content p {
  font-size: var(--font-size-text-large);
  line-height: 2;
  margin-top: 32px;
  font-family: "danalight";
}
header .header-content h1 {
  font-size: var(--font-size-head);
  font-family: "danabold";
  font-size: var(--font-size-head);
}

.header-btn {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}
.btn-contained {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'danalight';
  color: var(--light-text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-contained:hover {
  background-color: var(--accent-color);
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(93, 91, 91, 0.2);
  color: var(--text-color);
}
header .btn-outline {
  width: 250px;
  font-size: var(--font-size-btn);
  background-color: var(--dark-background);
  color: var(--primary-color);
  font-family: "danabold";
  cursor: pointer;
  gap: 8px;
  border-radius: 10px;
}
header .btn-contained, .social .btn-contained , .footer .btn-contained {
  cursor: pointer;
  width: 250px;
  padding: 12px 16px;
  font-size: var(--font-size-btn);
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "danabold";
  gap: 8px;
  border-radius: 20px;
  border: none;
}
header .header-image img {
  max-width: 100%;
}
/* header finished */



/* main */
main {
  padding: var(--section-padding);
  margin-top: 64px;
  
}
/* main finished */

/* box-icons */
.box-icons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 36px;
  margin-bottom: 48px;
  flex-wrap: wrap;
}
.box-icons-item {
  position: relative;
  display: flex;
  width: 455px;
  height: 250px;
  padding: 40px 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--Grey-15, var(--lighter-dark-background));
  background: var(--Grey-10, var(--background-color));
}
.box-icons-item h3 {
  font-family: "danademibold";
  color: var(--dark-text-color);
  font-size: var(--font-size-bold);
}

.box-icons-item span {
  position: absolute;
  top: 20px;
  left: 20px;
}
/* box icons finished */

/* courses */
.courses {
  border-radius: 10px;
  border: 1px solid var(--Grey-15, var(--lighter-dark-background));
  padding: 24px;
}
.courses .courses-head {
  gap: 20px;
  align-items: center;
  display: flex;
}
.courses-head h2 {
  font-family: "danademibold";
  color: var(--dark-text-color);
  font-size: 36px;
}
.courses-item > img {
  border-radius: 0 !important;
  height: 225px;
}

.courses .courses-head svg {
  width: 60px;
  height: 60px;
  fill: var(--dark-text-color);
}
.courses p {
  line-height: 2;
  color: var(--dark-text-color);
  font-family: "danalight";
  font-size: var(--font-size-text-large);
}
.courses-list {
  display: flex;
  padding: 0 16px;
  gap: 36px;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
}
.courses-item {
  max-width: 350px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 36px;
  transition: all 0.2s;
  cursor: pointer;
  padding-bottom: 10px;
  height: 650px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.courses-item-bottom {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  align-content: center;
  gap: 10px;
  justify-content: space-between;
  padding:0 24px;

  align-items: center;
  border-bottom: 1px solid var(--lighter-dark-background);
}
.courses-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;

  cursor: pointer;
  height: 80px;
  justify-self: end;
  padding: 0 16px;
  gap: 10px;
}
.courses-action .price {
  font-family: "danademibold";
  font-size: 16px;
  padding: 0;
}
.del {
  font-size: 14px;
  color: var(--gray-color);
  font-family: "danalight";
}
.courses-action button {
  cursor: pointer;
  width: 125px;
  height: 50px;
  border-radius: 8px;
  border: none;
  font-family: "danalight";
  font-size: var(--font-size-text-large);
  background: var(--primary-color);
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.skills-item {
  border-radius: 50px;
  padding: 8px;
  display: flex;
  justify-content: center;

  align-items: center;
  gap: 8px;
  border: solid 1px var(--gray-color);
  color: var(--dark-text-color);
  font-family: "danalight";
  font-size: 14px;
}
.skills-item img {
  width: 16px;
}
.courses-item:hover {
  transform: translateY(-20px);
  transition: all .3s;
}

.courses-item h4 {
  font-size: var(--font-size-text-extra);
  font-family: "danamedium";
  color: var(--dark-text-color);
  padding:0 24px;
}
.courses-item p {
  padding: 12px 24px;
  font-size: var(--font-size-text-mobile);
}
.courses-teacher {
  font-size: 16px;
  font-family: "danamedium";
  color: var(--gray-color);
  padding:  12px;
}
/* comments */
.comments , .questions{
  padding: var(--section-padding);
  border:1px solid var(--lighter-dark-background) ;
  border-radius:10px ;
  margin-top: 36px;
} 

.comments > p , .questions > p {
  font-size: var(--font-size-text-large);
  font-family: 'danalight';
  color: var(--dark-text-color);
}
.section-head-text{
  font-size: 36px;
  font-family: 'danademibold';
  color: var(--dark-text-color);
}
.section-head{
  display: flex;
  gap: 20px;
  align-items: center;
}
.comments-item{
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  max-width: 350px;
  height: 400px;
  border: 1px solid var(--lighter-dark-background);
}
.comment-scroll{
  overflow-x: auto;
}
.comments-list{
  display: flex;
  gap: 16px;
  justify-content: center;
  min-width: 1000px;

}
.stars{
  display: flex;
  gap: 10px;
  justify-content: end;
  margin:16px 24px ;
}
.star{
  border-radius: 50%;
  padding: 8px;
  width: 40px
  ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--lighter-dark-background);
}
.comment-body{
  display: flex;
  justify-content: start;
  padding: 12px 24px;
  flex-direction: column;
}
.comment-body h5{
  font-size: var(--font-size-text-extra);
  font-family: 'danamedium';
  color: var(--dark-text-color);
}
.comment-body P{
  margin-top: 12px;
  font-size: var(--font-size-text-large);
  font-family: 'danalight';
  color: var(--dark-text-color);
  line-height: 1.5;
}
.comment-author{
  padding: 12px 24px;
  display: flex;
  
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.comment-author > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}
.comment-author p{
  font-size: var(--font-size-mobile);
  font-family: 'danademibold';
  color: var(--dark-text-color);
}
.comment-author span{
  font-size: var(--font-size-mobile);
  font-family: 'danalight';
  color: var(--gray-color);
}
/* questions */
.questions > p >a{
  color: var(--primary-color);
}
.questions .questions-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
.questions-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 36px;
  border:1px solid var(--lighter-dark-background) ;
  border-radius:10px ;
  min-height: 400px;
  width: 400px;
  align-items: center;

}
.questions-item{
  margin-top: 24px;
  gap: 10px;
  display: flex;
  justify-content: center;
  border:1px solid var(--lighter-dark-background) ;
  border-radius:10px ;
  width: 90%;
  padding: 16px;
  align-items: center;
}
.questions-item .dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.questions-item > p{
  font-size: var(--font-size-text-large);
  font-family: 'danademibold';
  color: var(--gray-color);
}
.questions-item > .active{
  color: var(--dark-text-color) !important;

}
.answer{
  display: flex;
  flex-direction: column; 
  width: 300px;
  border:1px solid var(--lighter-dark-background) ;
  justify-content: center;
  height: 300px;
  background-color: var(--lighter-dark-background);
  border-radius: 10px 0 0 10px;
  margin-top: 36px;
}
.answer h4{
  padding: 12px;
  font-size: var(--font-size-text-large);
  color: var(--dark-text-color);
  font-family: 'danamedium';
}
.answer p{
  padding: 12px;
  font-size: var(--font-size-text-mobile);
  color: var(--dark-text-color);
  font-family: 'danalight';
}



  /* media queries */

@media only screen and (max-width: 1050px) {
  .copy-right{
    padding: var(--section-mobile-padding);
  }
  .search-container {
    width: 150px;
  }

  .search-container input {
    display: none;
  }
  .box-icons-item h3 {
    font-size: var(--font-size-text-large);
  }
  .courses-list {
    padding: var(--section-mobile-padding);
  }
  .courses {
    padding: var(--section-mobile-padding);
  }
  .section-head-text{
    font-size: 20px;
  }
  .comment-body h5{
    font-size: 18px;
  }
  .courses-head-des {
    font-size: var(--font-size-mobile) !important;
  }
  .courses-item {
    width: 350px;
    justify-content: center;
    align-items: center;
  }
  .courses-item img {
    width: 100%;
  }

  .courses-item   {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .courses-action p {
    font-size: 12px;
  }
  .courses-teacher ,.comment-body h5 {
  }

  .comments-item h4{
    font-size: var(--font-size-text-extra);
  }
  
  
}
@media only screen and (max-width: 1250px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 24px;
  }
  .header-content {
    flex-direction: column;
    align-items: center;
    gap: 32px !important;
    padding: 0 !important;
    text-align: center;
  }
  .header-content h1 {
    font-size: var(--font-size-medium-titr) !important;
  }
  .header-btn {
    justify-content: center;
  }
  .header-btn button {
    font-size: var(--font-size-btn-mobile);
    width: 120px;
  }
  .header-image {
    margin-top: 48px;
  }
  .header-image img {
    width: 100%;
  }
  .courses-action .price {
    font-size: 14px;
  }
  .box-icons-item {
    width: 320px;
  }
  .social{
    background-image:none;
    min-height: 300px;
    background-size: contain;
    text-align: center;

  }
  .social p{
    max-width: 100%;
    font-size: var(--font-size-text-large);
    line-height: 2;
  }
  .social .btn-contained {
    font-size: var(--font-size-btn-mobile);
    padding: 12px 8px;
    align-self: center;
  }
 
}
@media only screen and (max-width: 1500px) {
   .social{
   }
}
@media only screen and (max-width: 750px) {
  main ,footer{
    padding: var(--section-mobile-padding);
  }
 
  .courses-head h2 {
    font-size: 18px;
  }
  .courses-head-des {
    font-size: 16px !important;
  }
  .courses-list {
    padding: 0;
    justify-content: center;
    gap: 12px;
  }
  .courses-item {
    width: 100%;
    margin-top: 24px;
    justify-content: start;
    border-bottom: none;
    align-items: center;
    gap: 12px;
    min-height: 400px;
    padding: 0;
  }
  .courses-action button{
    width: 100% !important;

    height: 60px !important;
    align-self: flex-end;
    border-radius: 10px;

    
  }
 
  .courses-action {
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 10px;
    height: 17%;
    align-items: center;
    justify-content: end;
  }

  .courses-item img {
    height: 200px;
    border-radius: 0;
  }
  .courses-item h4 {
    font-size: 14px;
    line-height: 2;
    text-align: center;
    padding: 0 8px;
    margin: 0;
  }
  .comments{
    padding: 12px 16px;
    justify-content: start;
    align-items: center;
  }
  .comments-list{
    padding: 0;
    justify-content: start;
  }
  .comment-body {
    gap: 10px;
    padding: 0 12px;
  }
  .comments-item{
    max-width: 300px;
  }
  
  .courses-item p {
    font-size: 12px;
    padding: 8px;
  }
  .comment-body p{
    font-size: 16px;
  }
  .courses-teacher {
    font-size: 12px;
    padding: 8px;
  }
  .courses-item-bottom {
    padding: 0 8px;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .courses-item-bottom .skills  img{
    width: 30px;
    height: 30px;
  }
  .courses-action button {
    width: 75px;
    font-size: 12px;
    height: 30px;
    justify-self: end;
  }
}


@media only screen and (max-width:450px) {
  .courses{
    min-height: 1200px;
  }
  .courses-item {
    width: 100%;
    align-items: center;
    padding: 0;
    border: none;
    height: 500px;
    margin-top: 42px;
  }
  .skills-item img{
    
    width: 10px !important;
    height: 10px !important;
  }
  .courses-item p{
    display: block;
  }
  
  .courses-action{
    gap: 0;
  }
  .courses-action button{
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
  }
  .courses-action .price{
    justify-self: center;
    align-self: center;
  }
  
  
  .courses-item h4{
    text-align: center;
  }
  .courses-item img {
    width: 100%;
    height: 170px;
    object-fit: cover;
  }
  .courses-action {
    padding: 0;
    gap: 0;
  }
  .questions-item p{
    font-size: 14px;
  }
}