/* Relevent styles to header element. */
.header {
  .alert {
    text-align: center;
    font-family: DanaDemiBold;
    padding: 10px;
    background-image: linear-gradient(to right, rgba($color-primary, .5), rgba($color-primary, 0), rgba($color-primary, .5));
    &__text {
      font-size: $font-size-xl;
      &--accent {
        color: $color-accent; 
      }
    }
  }
}