<footer>
  <div class="footer">
    <div class="subscription">
      <img src="./assets/Images/home/logo-dark 1.png" alt="" />
      <p>از جدیدترین رویداد ها بهره مند شوید</p>
      <div class="sub-form">
        <input type="text" placeholder="ایمیل خود را وارد کنید" />
        <button class="btn-contained">ارسال</button>
      </div>
      <p class="policy">
        ارسال ایمیل توسط شما به این معناست که <a href="">قوانین</a> ما را
        پذیرفته اید
      </p>
    </div>
    <div class="footer-list">
      <ul>
        <li class="header-list">عنوان</li>
        <li><a href="#">لینک</a></li>
        <li><a href="#">لینک</a></li>
        <li><a href="#">لینک</a></li>
      </ul>
      <ul>
        <li class="header-list">عنوان</li>
        <li><a href="#">لینک</a></li>
        <li><a href="#">لینک</a></li>
        <li><a href="#">لینک</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <ul>
        <li>
          <a href="#"
            ><img src="./assets/Images/home/icons/youtube.svg" alt="youtube"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="./assets/Images/home/icons/twiter.svg" alt="twiter"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="./assets/Images/home/icons/linkedin.svg" alt=""
          /></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
