<nav>
  <div class="logo-container">
    <img src="./assets/images/home/logo-dark.png" alt="بیالرن" />
  </div>
  <div class="links-container">
    <ul class="link-list">
      <li><a href="#" class="active-link">خانه </a></li>
      <li><a href="#" class="">دوره ها </a></li>
      <li><a href="#" class=""> درباره ما </a></li>
      <li><a href="#" class=""> بلاگ</a></li>
    </ul>
  </div>
  <div class="left-side-nav">
    <div class="search-container">
      <input type="text" placeholder="جست و جو" name="" id="" />
      <svg class="search-icon">
        <use xlink:href="./assets/Images/home/icons/sprite.svg#search"></use>
      </svg>
    </div>
  </div>
  <!-- search over lay -->
  <!-- Search Overlay -->
  <div class="search-overlay">
    <div class="search-overlay-content">
      <div class="search-header">
        <h2>جستجو</h2>
        <button class="close-search">
          <img src="./assets/Images/home/icons/close.png" alt="close" />
        </button>
      </div>
      <div class="search-input-container">
        <input type="text" placeholder="جستجوی دوره ها..." autofocus />
        <svg class="search-icon">
          <use xlink:href="./assets/Images/home/icons/sprite.svg#search"></use>
        </svg>
      </div>
      <div class="search-results">
        <!-- Results will be populated here -->
      </div>
    </div>
  </div>
</nav>
